USE [master]
GO
/****** Object:  Database [Company2]    Script Date: 06-10-2018 02:41:17 ******/
CREATE DATABASE [Company2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company2', FILENAME = N'C:\Users\Acer\Company2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company2_log', FILENAME = N'C:\Users\Acer\Company2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company2]
GO
USE [Company2]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 06-10-2018 02:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](200) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
