USE [master]
GO
/****** Object:  Database [Company1]    Script Date: 06-10-2018 02:40:54 ******/
CREATE DATABASE [Company1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company1', FILENAME = N'C:\Users\Acer\Company1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company1_log', FILENAME = N'C:\Users\Acer\Company1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company1]
GO
USE [Company1]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 06-10-2018 02:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](200) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
