<div class="jumbotron">
    <h1>Company2</h1>
    <p class="lead">Welcome to Company2! Thanks for Visiting our site.</p>
    <p><a href="http://kmbl.localhost:50122/About" class="btn btn-primary btn-lg">Search more &raquo;</a></p>
</div>
